<% layout('layouts/boilerplate') %>

    <h1>Edit House</h1>

    <div class="row">
        <h1 class="text-center">Edit House</h1>
        <div class="col-6 offset-3">
            <form action="/houses/<%=house._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label for="roomType" class="form-label">Room Suit</label>
                    <select class="form-select" id="roomType" name="house[roomType]" required>
                        <option value="1RK" <%=house.roomType==='1RK' ? 'selected' : '' %>>1 RK</option>
                        <option value="1BHK" <%=house.roomType==='1BHK' ? 'selected' : '' %>>1 BHK</option>
                        <option value="2BHK" <%=house.roomType==='2BHK' ? 'selected' : '' %>>2 BHK</option>
                        <option value="3BHK" <%=house.roomType==='3BHK' ? 'selected' : '' %>>3 BHK</option>
                        <option value="4+ BHK" <%=house.roomType==='4+ BHK' ? 'selected' : '' %>>4+ BHK</option>
                    </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="house[location]"
                        value="<%= house.location%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image url</label>
                    <input type="text" class="form-control" id="image" name="house[image]" value="<%= house.image %>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">House Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">₹</span>
                        <input type="text" class="form-control" id="price" placeholder="0" aria-label="price"
                            aria-describedby="price-label" name="house[price]" value="<%= house.price %>" required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" id="description" name="house[description]"
                        required><%= house.description  %> </textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-info">Update House</button>
                </div>
            </form>
            <a href="/houses/<%= house._id%>">Back To House</a>

        </div>
    </div>
