<% layout('layouts/boilerplate') %>

    <link rel="stylesheet" href="/css/searchpage.css">

    <h1>All Houses</h1>

    <% for(let house of houses) {%>

        <div class="house-card border border-dark">
            <div class="d-flex flex-row justify-content-start">
                <img class="house-image" src="<%= house.image %> " alt="">
                <div class="house-details d-flex flex-column justify-content-start">
                    <p>
                        <%= house.location %> <b> (<%= house.roomType %> )
                            </b>
                    </p>
                    <p class="house-description">
                        <%= house.description %>
                    </p>
                    <div class="d-flex flex-row justify-content-start">
                        <button class="get-details-button btn-primary"
                            onclick="location.href='/houses/<%= house._id %>'">Get Details</button>
                    </div>
                    <div class="d-flex flex-row justify-content-end">
                        <i class="bi bi-file-ppt-fill house-icons "></i>
                        <i class="bi bi-server house-icons "></i>
                        <i class="bi bi-shield-fill-check house-icons "></i>
                        <i class="bi bi-battery-full house-icons "></i>
                        <i class="bi bi-chat-dots house-icons "></i>
                    </div>
                </div>
                <div class="house-ratings">
                    <div class="d-flex flex-column justify-content-start">
                        <div>
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star-half"></span>
                            <span class="bi bi-star"></span>
                        </div>
                        <div>
                            <p>Rating : <%= house.rating %>
                            </p>
                        </div>
                        <p><b><i class="bi bi-rupee-sign"></i>
                                Rs.<%= house.price %>
                            </b></p>
                        <button class="btn-warning">Wishlist</button>
                    </div>
                </div>
            </div>
        </div>


        <% } %>