<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <img src="<%= house.image %> " class="card-img-top" alt="..." style="height: 400px;">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= house.roomType %>
                    </h5>
                    <p class="card-text">
                        <%= house.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= house.location %>
                    </li>
                    <li class="list-group-item">Rs.<%= house.price %>/month</li>
                    <li class="list-group-item">Owner of the property : <%= house.owner.username %>
                    </li>
                </ul>
                <% if(currentUser && house.owner.equals(currentUser._id)) { %>
                    <div class="card-body">
                        <a href="/houses/<%= house._id %>/edit" class="card-link btn btn-warning">Edit</a>
                        <form action="/houses/<%= house._id %>?_method=DELETE" method="POST" class="d-inline">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <% } %>
                    <div class="card-footer text-muted">
                        <a href="/users/<%= house.owner._id %>" class="btn btn-info">Owner details</a>
                    </div>
            </div>
        </div>
        <div class="col-6">
            <% if(currentUser) { %>
                <h2>Leave a Review</h2>
                <form action="/houses/<%= house._id %>/reviews" method="POST" class="mb-3 validated-form" novalidate>
                    <div class="mb-3">
                        <label for="rating" class="form-label">Rating</label>
                        <input type="range" name="review[rating]" id="rating" class="form-range" min="1" max="5">
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">Review</label>
                        <textarea name="review[body]" id="body" cols="30" rows="3" class="form-control"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success">submit</button>
                </form>
                <% } %>
                    <% for(let review of house.reviews) { %>
                        <div class="card mb-3">
                            <div class=" card-body">
                                <h5 class="card-title">
                                    Rating : <%= review.rating %>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    By <%= review.author.username %>
                                </h6>
                                <p class="card-text">
                                    Review : <%= review.body %>
                                </p>
                                <% if(currentUser && review.author.equals(currentUser._id)) { %>
                                    <form action="/houses/<%= house._id %>/reviews/<%= review._id %>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                        <% } %>
        </div>
    </div>