<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img src="<%= house.image %> " class="card-img-top" alt="..." style= "height: 400px;">
                <div class="card-body">
                    <h5 class="card-title"><%= house.roomType %> </h5>
                    <p class="card-text"><%= house.description %> </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted"><%= house.location %> </li>
                    <li class="list-group-item">Rs.<%= house.price %>/month</li>
                    <li class="list-group-item">Rating : <%= house.rating %> </li>
                </ul>
                <div class="card-body">
                    <a href="/houses/<%= house._id %>/edit" class="card-link btn btn-warning">Edit</a>
                    <form action="/houses/<%= house._id %>?_method=DELETE" method="POST" class="d-inline">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    2 months ago
                </div>
            </div>
        </div>
    </div>